<div class="recipe__section">
  <div class="recipe__title">
    Maceracion
  </div>
  <div class="d-flex flex-column">
    <% if recipe.mash.nil? %>
      <%= button_to "Agregar maceracion", new_recipe_mash_path(recipe), method: :get, data: { turbo_frame: "remote_modal" }, class: "btn btn-success" %>
    <% else %>
      <%= render 'mashes/mash_data', mash: mash %>
    <% end %>
  </div>
</div>
