<table class="table">
  <tbody>
    <tr>
      <th scope="row">Relacion de empaste (L/Kg)</th>
      <td><%= mash.water_grain_ratio %></td>
    </tr>
    <tr>
      <th scope="row">Temperatura (°C)</th>
      <td><%= mash.temp %></td>
    </tr>
    <tr>
      <th scope="row">Tiempo de maceracion (min)</th>
      <td><%= mash.time %></td>
    </tr>
    <tr>
      <th scope="row">Tiempo de recirculado (min)</th>
      <td><%= mash.recirculation_time %></td>
    </tr>
  </tbody>
</table>
