<div class="d-flex border rounded shadow-sm mb-2">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Temp. inicio</th>
        <td><%= mash_step.start_temp %></td>
      </tr>
      <tr>
        <th scope="row">Temp. final</th>
        <td><%= mash_step.final_temp %></td>
      </tr>
      <tr>
        <th scope="row">Duracion</th>
        <td><%= mash_step.length_time %></td>
      </tr>
    </tbody>
  </table>

</div>
