<div class="container">
  <div class="header py-4">
    <h1>Materias primas</h1>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Maltas", "#", class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Lupulos", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Levaduras", "#", class: "nav-link" %>
    </li>

  </ul>

</div>
