<div class="border rounded shadow mb-2 py-2 px-2">
  <div class="row">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <strong><%= lot.code %></strong>
      <h5><span class="badge bg-secondary"><%= lot.recipe.name %></span></h5>
    </div>
  </div>

  <div class="row">
    Litros: <%= lot.batch %>
  </div>
</div>
