<div class="container">

  <div class="header mt-4">
    <%= link_to sanitize("&larr; Volver"), :back %>
    <h1><%= @lot.code %></h1>
  </div>

  <!-- Beer attibutes -->
  <section class="row row-cols-1 row-cols-md-2">
    <div class="col-12 col-md-3">
      <%= render 'recipes/beer_attributes', recipe: @lot.recipe %>
    </div>
    <div class="col-12 col-md-9">
      <!-- Todo for ingredient list -->
      <div class="lot__ingredients-preparation">
        aca va los todo list para maceracion
      </div
      <!-- Todos for mashing stage -->
      <div class="lot__mashing-stage">
        aca va los todo list para maceracion
      </div
      <!-- Todos for bioiling stage -->
      <div class="lot__boiling-stage">
        aca va los todo list para maceracion
      </div
    </div>
  </section>
</div>
