.recipe {

  &__section {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: white;
    padding: var(--space-m) var(--space-xxs);
    margin-bottom: var(--space-xs)
  }

  &__title {
    // display: flex;
    // border: var(--border);
    border-radius: 40px;
    margin-bottom: var(--space-xs);
    background-color: white;
    padding: var(--space-xxxs) var(--space-s);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-primary-rotate);
  }

  &__add-ingredient {
    padding: var(--space-m);
    border: var(--border);
    border-style: dashed;
    text-align: center;
    margin-left: var(--space-xs);
    margin-right: var(--space-xs);

    &__text {
      font-size: var(--font-size-l);
      color: var(--color-text-header);
      margin-bottom: var(--space-l);
      font-weight: bold;
    }

    &--only-child {
      display: none;

      &:only-child {
        display: revert;
      }
    }
  }

  &__partial-result {
    display: flex;
    background-color: var(--color-dark);
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bold;
    border: var(--border);
    margin-bottom: var(--space-xs);
    margin-left: var(--space-xs);
    margin-right: var(--space-xs);
    padding: var(--space-xs) var(--space-xs);
    box-shadow: var(--shadow-large)
  }
}
