.recipe {

  &__section {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: white;
    padding: var(--space-m) var(--space-xxs);
    margin-bottom: var(--space-xs)
  }

  &__title {
    display: flex;
    // border: var(--border);
    border-radius: 40px;
    margin-bottom: var(--space-xs);
    background-color: white;
    padding: var(--space-xxxs) var(--space-s);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color-primary-rotate)
  }
}
