.srm-color {
  &__1 {
    background-color: var(--color-srm-1);
  }

  &__2 {
    background-color: var(--color-srm-2);
  }

  &__3 {
    background-color: var(--color-srm-3);
  }

  &__4 {
    background-color: var(--color-srm-4);
  }

  &__5 {
    background-color: var(--color-srm-5);
  }

  &__6 {
    background-color: var(--color-srm-6);
  }

  &__7 {
    background-color: var(--color-srm-7);
  }

  &__8 {
    background-color: var(--color-srm-8);
  }

  &__9 {
    background-color: var(--color-srm-9);
  }

  &__10 {
    background-color: var(--color-srm-10);
  }

  &__11 {
    background-color: var(--color-srm-11);
  }

  &__12 {
    background-color: var(--color-srm-12);
  }

  &__13 {
    background-color: var(--color-srm-13);
  }

  &__14 {
    background-color: var(--color-srm-14);
  }

  &__15 {
    background-color: var(--color-srm-15);
  }

  &__16 {
    background-color: var(--color-srm-16);
  }

  &__17 {
    background-color: var(--color-srm-17);
  }

  &__18 {
    background-color: var(--color-srm-18);
  }

  &__19 {
    background-color: var(--color-srm-19);
  }

  &__20 {
    background-color: var(--color-srm-20);
  }

  &__21 {
    background-color: var(--color-srm-21);
  }

  &__22 {
    background-color: var(--color-srm-22);
  }

  &_23 {
    background-color: var(--color-srm-23);
  }

  &__24 {
    background-color: var(--color-srm-24);
  }

  &__25 {
    background-color: var(--color-srm-25);
  }

  &__26 {
    background-color: var(--color-srm-26);
  }

  &__27 {
    background-color: var(--color-srm-27);
  }

  &__28 {
    background-color: var(--color-srm-28);
  }

  &__29 {
    background-color: var(--color-srm-29);
  }

  &__30 {
    background-color: var(--color-srm-30);
  }

  &__31 {
    background-color: var(--color-srm-31);
  }

  &__32 {
    background-color: var(--color-srm-32);
  }

  &__33 {
    background-color: var(--color-srm-33);
  }

  &__34 {
    background-color: var(--color-srm-34);
  }

  &__35 {
    background-color: var(--color-srm-35);
  }

  &__36 {
    background-color: var(--color-srm-36);
  }

  &__37 {
    background-color: var(--color-srm-37);
  }

  &__38 {
    background-color: var(--color-srm-38);
  }

  &__39 {
    background-color: var(--color-srm-39);
  }

  &__40 {
    background-color: var(--color-srm-40);
  }

}
