<div class="header d-flex align-items-center justify-content-between pt-4">
  <h1>Maltas</h1>
  <%= button_to "Nueva malta", new_malt_path, class: "btn btn-success", method: :get, data: { turbo_frame: 'remote_modal' } %>
</div>

<div class="d-flex py-1 px-2 mb-2 border rounded shadow-sm text-bg-secondary fw-bold">
  <div class="col-4 col-md-2">NOMBRE</div>
  <div class="d-none d-md-block col-1">EXTRACTO</div>
  <div class="d-none d-md-block col-1">COLOR (°L)</div>
  <div class="d-none d-md-block col-1">PH</div>
  <div class="col-8 col-md-3">DISPONIBLE (kg)</div>
  <div class="d-none d-md-block col-3">ACCIONES</div>
  <div class="d-none d-md-block col-1"></div>
</div>
<%= turbo_frame_tag "malts" do %>
  <%= render current_user.malts.includes(:inventory_item).ordered %>
<% end %>
